version: "3.9"
services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3001:3001"

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3002:3002"
    depends_on:
      - user-service
